html{
    height: auto;
    background-image: url(./background-site.jpg);
    background-size: cover;
}

h1{
    color: darkblue;
    font-family: fantasy;
    font-weight: bolder;
}

p{
    font-family: cursive;
    color: darkblue;
}

#header{
    clear: both;
    height: 300px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

#navbar2 ul{
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#navbar2 ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;   
}

#navbar2 a:link, #navbar2 a:visited{
    text-decoration: none;
    font-style: italic;
    color: black;
    font-size: large;
}

#navbar ul{ 
    float:left;
    width: 30%;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#navbar ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

#navbar a:link, #navbar a:visited{
    color: indigo;
    text-decoration: none;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
    max-width: 50%;
    max-height: 50%;
}

#social ul{
    float: right;
    width: 30%;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#social ul li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

#social a:link, #social a:visited{
    color: darkmagenta;
    text-decoration: none;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}